<div style =" height: 60px;">
  <!-- <input type="file" (change)="fileSelectionChanged($event)" multiple>
  <button (click)="upload()">Upload</button> -->

  <mat-form-field>
      <mat-toolbar>
        <input matInput [value]="fileName" />            
        <button  mat-flat-button (click)="upload()"  >Upload  </button>
        </mat-toolbar>       
        <input type="file" (change)="fileSelectionChanged($event)" multiple>
        <div *ngIf="filesToUpload.length > 0">
         <span *ngFor="let file of filesToUpload; let i = index">
            {{ file.name }}
            <mat-icon (click)="removeFile(i)">close</mat-icon>
          </span>
          <!-- <ul>
            <li *ngFor="let file of filesToUpload; let i = index">
              {{ file.name }}
              <button (click)="removeFile(i)">Delete</button>
            </li>
          </ul> -->
        </div>
  </mat-form-field>
  
</div>
<div style="padding-top: 20px;">
<table mat-table [dataSource]="uploadedFiles" class="mat-elevation-z8">
  
  <ng-container matColumnDef="name">
    <th mat-header-cell *matHeaderCellDef> File Name </th>
    <td mat-cell *matCellDef="let file"> {{file.name}} </td>
  </ng-container>

  <ng-container matColumnDef="url">
    <th mat-header-cell *matHeaderCellDef> File URL </th>
    <td mat-cell *matCellDef="let file">
      <a [href]="file.url" target="_blank">{{file.url}}</a>
    </td>
  </ng-container>
  <ng-container matColumnDef="Size">
    <th mat-header-cell *matHeaderCellDef> Size</th>
    <td mat-cell *matCellDef="let file">
      <a  target="_blank">{{file.size}}</a>
    </td>
  </ng-container>
  <ng-container matColumnDef="Type">
    <th mat-header-cell *matHeaderCellDef> Type</th>
    <td mat-cell *matCellDef="let file">
      <a target="_blank">{{file.type}}</a>
    </td>
  </ng-container>
  <ng-container matColumnDef="Action">
    <th mat-header-cell *matHeaderCellDef> Action</th>
    <td mat-cell *matCellDef="let file">
      <a target="_blank">
        <mat-icon>cloud_download</mat-icon>
        <mat-icon>delete_forever</mat-icon>
      </a>
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>
<a href="#">Home</a>
  <mat-paginator  #paginator
  (page)="pageChangeEvent($event)"[length]="totalRecords " [pageSize]="pageSize"
  [pageIndex]="pageIndex"
  aria-label="Select page of GitHub search results">
  </mat-paginator>
</div>