<div class="dashboard-container">
  <header class="header-bar">
      <div style="margin-right: 10px;">
        <mat-icon>notifications_none</mat-icon>
      </div>         
    <div class="settings-icon">
      <i class="fas fa-cog"></i>
    </div>
  </header>

  <div class="main-content">
    <aside class="sidebar">
      <div class="logo">
          <img src="/assets/sidelogo.jpg" style="width: 60px;height:auto;margin-right: 5px;">
          <span style="position: relative;font-family: Product Sans, Arial, sans-serif;top: -1.5px;
          vertical-align: super;
          font-size: 18px ;
          color: #5f6368;"></span>
      </div>
      <button mat-flat-button  [disabled]="newchaticon" (click)="createNewChat()">+ New Chat</button>

      <div>
        <div *ngFor="let chat of chatsBackup;let i=index" class="chat-tab">
          <div style="cursor: pointer;" (click)="setActiveChat(chat.chatId)">
            <mat-icon style="margin-top: 12px;font-size: 25px;"> insert_drive_file</mat-icon> 
           window-{{title}} -{{ chat.chatId }}
          </div>
        </div>
      </div>
        <!-- <div *ngFor="let chat of chatsBackup">
          <mat-icon > chat</mat-icon>
          <span class="label-space"> Chat Window </span>
        </div> -->
              
      
      <ul style="position: absolute; bottom: 0;margin-right: 30px;">
        <!-- <div style=" font-family: Product Sans, Arial, sans-serif;
        font-size: 22px ;
        color: #5f6368;">
          Meet          
        </div> -->
        
        <!-- <div *ngIf="isLoggedIn" (click)="manageDoc()">
          <mat-icon class="adjust-icon"  >cloud_upload</mat-icon>
          <span class="label-space">Upload Document</span><br>
        </div>
          <mat-icon class="adjust-icon" (click)="showHistory()">history</mat-icon><span class="label-space">History</span><br>
          <mat-icon class="adjust-icon">mic_none</mat-icon><span class="label-space">Audio to FAQ's</span><br><br>
          <button  mat-stroked-button color="accent"  *ngIf="!isLoggedIn" (click)="userlogin()">
            <mat-icon class="adjust-icon">exit_to_app</mat-icon> Login</button>
          <button mat-stroked-button color="accent"  *ngIf="isLoggedIn" (click)="userlogout()">
              <mat-icon>exit_to_app</mat-icon> Log Out
          </button> -->
        </ul>
    </aside>

    <section class="assistant-section ">
      <!-- <h1  >  <img src="/assets/Biswakosh.png"  style="width: 230px;"> -->
        <div class='box' *ngIf="showgoogle">
          <h3>Virtual Assistant</h3>
        </div>
      <!-- </h1> -->
    
        <div class="messages-container"  [ngClass]="{'res-msg':!showgoogle}">
          <div *ngFor="let message of messages" class="message" [ngClass]="{'from-user':message.sender === 'user'}">
            <mat-icon *ngIf="headicon" >account_circle</mat-icon>
            {{message.text}}
          </div>
          <!-- Show a loading spinner while waiting for the bot's response -->
          <div *ngIf="isLoading" >
            <ngx-skeleton-loader   count="2"   appearance="line"  animation="progress-dark">              
            </ngx-skeleton-loader>
          </div>
        </div>  
        <div class="search-bar"[ngClass]="{'input-box':!showgoogle}" >
          <input type="text" placeholder="Ask me anything..." (keyup.enter)="sendMessage()"
          [(ngModel)]="searchText"/>
          <mat-icon class="send-btn" (click)="startListening()">mic</mat-icon>          
          <!-- <mat-icon class="send-btn"> attach_file</mat-icon> -->
          <mat-icon class="send-btn"  (click)="sendMessage()">send</mat-icon>
          <!-- <button class="send-btn"><i class="fas fa-paper-plane"></i></button> -->
        </div>
      <!-- </div> -->
    </section>
  </div>
</div>