<div class="dashboard-container">
    <header class="header-bar">
        <div style="margin-right: 10px;">
            <mat-icon >menu</mat-icon>
        </div>         
      <div class="settings-icon">
        <i class="fas fa-cog"></i>
      </div>
    </header>
  
    <div class="main-content">
      <aside class="sidebar">
        <div class="logo">
            <img src="/assets/logo.png">
        </div>
        <button mat-flat-button   (click)="newChat()">+ New Chat</button>
        
        <nav class="nav-links">
          <div *ngIf="isLoggedIn">
            <mat-icon class="adjust-icon"  (click)="manageDoc()">cloud_upload</mat-icon>
            <span class="label-space">Manage Doccument</span><br></div>
            <mat-icon class="adjust-icon">history</mat-icon><span class="label-space">history</span><br>
            <mat-icon class="adjust-icon">mic_none</mat-icon><span class="label-space">Audio to FAQ's</span><br>
            <button  mat-stroked-button color="accent" *ngIf="!isLoggedIn" (click)="userlogin()"><mat-icon>exit_to_app</mat-icon> Login</button>
            <button mat-stroked-button color="accent"  *ngIf="isLoggedIn" (click)="userlogout()">
                <mat-icon>exit_to_app</mat-icon> Login
            </button>
        </nav>
      </aside>
  
      <section class="assistant-section ">
        <h1  *ngIf="showgoogle">  <img src="/assets/logo.png"></h1>
          <div [ngClass]="{'input-box':!showgoogle}" >
            <div *ngFor="let message of messages" class="message" [ngClass]="{'from-user':message.sender === 'user'}">
              <mat-icon *ngIf="headicon" >account_circle</mat-icon>
              {{message.text}}
            </div>
          </div>  
          <div class="search-bar"[ngClass]="{'input-box':!showgoogle}" >
            <input type="text" placeholder="Ask me anything..." (keyup.enter)="sendMessage()"
            [(ngModel)]="searchText"/>
            <mat-icon class="send-btn" (click)="startListening()">mic</mat-icon>          
            <!-- <mat-icon class="send-btn"> attach_file</mat-icon> -->
            <mat-icon class="send-btn"  (click)="sendMessage()">send</mat-icon>
            <!-- <button class="send-btn"><i class="fas fa-paper-plane"></i></button> -->
          </div>
        <!-- </div> -->
      </section>
    </div>
</div>