.dashboard-container {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.header-bar {  
  //background-color: #f8f9fa;
  height: 50px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 0 15px;
  //
  margin-left: 245px;
  z-index: 1;
}

.settings-icon i {
  color: black;
  font-size: 20px;
  cursor: pointer;
}

.main-content {
  display: flex;
  flex: 1;
}

.sidebar {
  width: 200px;
  background-color: #e4e8f3;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: -49px;
 // margin-bottom: 5px;
}

  .logo {
    font-size: 24px;
    //color: #3c78d8;
    font-weight: bold;
    margin-bottom: 20px;
  }

.new-chat {
  background-color: #3c78d8;
  color: white;
  padding: 10px;
  border: none;
  border-radius: 5px;
  margin-bottom: 20px;
  cursor: pointer;
}

// .nav-links {
//   width: 100%;
//   margin-top: 295px;
// }

// .nav-links a {
//   display: block;
//   color: #333;
//   text-decoration: none;
//   margin-bottom: 10px;
//   text-align: left;
//   padding: 10px;
//   background-color: #fff;
//   border-radius: 5px;
//   box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
// }

//   .login-button {
//     border: none;
//     cursor: pointer;
//   }

.assistant-section {
  //background-color: #f1f3f4;
  flex: 1;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  //margin-bottom: 80px;
}

.search-bar {
  display: flex;
  align-items: center;
  width: 100%;
  max-width: 800px;
  padding: 15px;
  border-radius: 30px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  border: 1px solid #e0e0e0;
  background-color: #ffffff;
  transition: box-shadow 0.3s ease;

  &:focus-within {
    box-shadow: 0 6px 12px rgba(60, 120, 216, 0.2);
  }
}

.search-bar input {
  flex: 1;
  border: none;
  outline: none;
  padding: 10px;
  border-radius: 25px;
}

.send-btn {
 // background-color: #88afee;
  color: black;
  border: none;
  padding: 10px;
  border-radius: 50%;
  cursor: pointer;
  margin-right: 1px;
  font-size: large;
  
}

.send-btn i {
  font-size: 15px;
}

//Biswabanita....................................

.adjust-icon {
  margin-bottom: -5px;
  margin-top:2px;
  padding: 3px;
}
.label-space {
  padding-left: 5px
}

.messages-container {
  overflow-y: auto;
  width: 900px;
  padding: 5px;
}

.message {
  padding: 10px;
  border-radius: 10px;
  margin: 5px 0;
  max-width: 60%;
  

}

.from-user {
  background-color: #dcf8c6;
  margin-left: auto;
  text-align: left;
  overflow: overlay;
  //margin-bottom: 80px;
}

.res-msg{  
  bottom: 80px;
  position: absolute;
  padding-left: 180px;
  max-height: calc(100% - 140px);
  
}

.input-box {
  bottom: 10px;
  position: fixed;
  width: -webkit-fill-available;
  margin-right: 20px;
}
.loading-spinner {
  text-align: center;
  margin: 10px 0;
  font-style: italic;
  color: #999;
}